<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>coin_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 798}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 32}</string>
			<key>spriteSourceSize</key>
			<string>{31, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 1010}, {31, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 866}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 32}</string>
			<key>spriteSourceSize</key>
			<string>{33, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 934}, {23, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {11, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{11, 32}</string>
			<key>spriteSourceSize</key>
			<string>{27, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 654}, {11, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{23, 32}</string>
			<key>spriteSourceSize</key>
			<string>{37, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 900}, {23, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{31, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{724, 832}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {31, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 32}</string>
			<key>spriteSourceSize</key>
			<string>{33, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 1022}, {31, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{80, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1035}, {64, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {58, 59}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 858}, {58, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{78, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1100}, {64, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {64, 65}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{64, 65}</string>
			<key>spriteSourceSize</key>
			<string>{84, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 968}, {64, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 942}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 1009}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 976}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 790}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 824}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 756}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 688}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 874}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 722}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 654}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 840}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 908}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 975}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l1_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 414}, {1024, 354}}</string>
			<key>spriteOffset</key>
			<string>{0, -207}</string>
			<key>spriteSize</key>
			<string>{1024, 354}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l2_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 598}, {1024, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -299}</string>
			<key>spriteSize</key>
			<string>{1024, 170}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {1024, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l3_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 644}, {1024, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -322}</string>
			<key>spriteSize</key>
			<string>{1024, 124}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 528}, {1024, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{961, 919}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pow2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 54}</string>
			<key>spriteSourceSize</key>
			<string>{171, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 1306}, {171, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {178, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{178, 178}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 962}, {178, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 1022}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 1012}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 1142}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 1165}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1220}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1056}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 79}, {240, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 142}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 654}, {240, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 1176}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 892}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 66}, {202, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{202, 170}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 840}, {202, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 68}, {206, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{206, 166}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{753, 854}, {206, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 70}, {208, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{208, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 798}, {208, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 52}, {220, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{220, 198}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 654}, {220, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 32}, {258, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{258, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 654}, {258, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 59}, {252, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{252, 184}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 654}, {252, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>space2</string>
		<key>textureFileName</key>
		<string>space2_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>