<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn-about-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1462, 833}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-about-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 942}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-close-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 1098}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-close-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 1897}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-home-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 1663}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-home-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 1424}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 1020}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 1741}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-reset-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1244, 833}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-reset-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 1176}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-share-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 833}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-share-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {216, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{216, 76}</string>
			<key>spriteSourceSize</key>
			<string>{220, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 1819}, {216, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1746, 833}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 32}</string>
			<key>spriteSourceSize</key>
			<string>{31, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 898}, {31, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {26, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2020, 630}, {26, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 32}</string>
			<key>spriteSourceSize</key>
			<string>{33, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2020, 698}, {23, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {11, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{11, 32}</string>
			<key>spriteSourceSize</key>
			<string>{27, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2030, 46}, {11, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {23, 32}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{23, 32}</string>
			<key>spriteSourceSize</key>
			<string>{37, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2020, 664}, {23, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {27, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 32}</string>
			<key>spriteSourceSize</key>
			<string>{31, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2020, 596}, {27, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {31, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 32}</string>
			<key>spriteSourceSize</key>
			<string>{33, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1713, 898}, {31, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{80, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1322}, {64, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {58, 59}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 59}</string>
			<key>spriteSourceSize</key>
			<string>{68, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1454}, {58, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {64, 63}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{64, 63}</string>
			<key>spriteSourceSize</key>
			<string>{78, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 833}, {64, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {64, 65}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{64, 65}</string>
			<key>spriteSourceSize</key>
			<string>{84, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1387}, {64, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game-over-bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {750, 659}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{750, 659}</string>
			<key>spriteSourceSize</key>
			<string>{750, 659}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 172}, {750, 659}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {588, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{588, 75}</string>
			<key>spriteSourceSize</key>
			<string>{588, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1586}, {588, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-hp-max.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 23}</string>
			<key>spriteSourceSize</key>
			<string>{224, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 911}, {224, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-hp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {220, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 19}</string>
			<key>spriteSourceSize</key>
			<string>{224, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1252, 911}, {220, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 114}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{735, 1515}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 774}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{735, 1549}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 740}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 2007}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 46}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{738, 1454}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 842}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2007}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 808}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2000, 876}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 80}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_bg.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 768}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 172}, {1024, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l1_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 414}, {1024, 354}}</string>
			<key>spriteOffset</key>
			<string>{0, -207}</string>
			<key>spriteSize</key>
			<string>{1024, 354}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 942}, {1024, 354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l2_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 598}, {1024, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -299}</string>
			<key>spriteSize</key>
			<string>{1024, 170}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l3_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 644}, {1024, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -322}</string>
			<key>spriteSize</key>
			<string>{1024, 124}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 1298}, {1024, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p1-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {43, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{43, 44}</string>
			<key>spriteSourceSize</key>
			<string>{55, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1996, 0}, {43, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 54}</string>
			<key>spriteSourceSize</key>
			<string>{55, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 1515}, {55, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p2-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {165, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{165, 46}</string>
			<key>spriteSourceSize</key>
			<string>{171, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 1991}, {165, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {171, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{171, 54}</string>
			<key>spriteSourceSize</key>
			<string>{171, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 1586}, {171, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p3-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {201, 46}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{201, 46}</string>
			<key>spriteSourceSize</key>
			<string>{221, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 1502}, {201, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p3-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {209, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{209, 54}</string>
			<key>spriteSourceSize</key>
			<string>{221, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 1975}, {209, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sp-logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{178, 80}, {676, 262}}</string>
			<key>spriteOffset</key>
			<string>{4, -11}</string>
			<key>spriteSize</key>
			<string>{676, 262}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1322}, {676, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sp-page-about.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 186}, {770, 378}}</string>
			<key>spriteOffset</key>
			<string>{-51, 9}</string>
			<key>spriteSize</key>
			<string>{770, 378}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 942}, {770, 378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {178, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{178, 178}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1663}, {178, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 1741}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1798, 1254}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 1663}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1438, 0}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{200, 200}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1843}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1612, 0}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 79}, {240, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 142}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1778, 596}, {240, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 1827}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {172, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{172, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 1424}, {172, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{49, 66}, {202, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{202, 170}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 0}, {202, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 68}, {206, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{206, 166}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1230, 0}, {206, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 70}, {208, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{208, 162}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1786, 0}, {208, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 52}, {220, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{220, 198}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1778, 740}, {220, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 32}, {258, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{258, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1778, 172}, {258, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 59}, {252, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{252, 184}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1778, 410}, {252, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>space2</string>
		<key>textureFileName</key>
		<string>space2_default.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>