<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn-about-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2924, 1666}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-about-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3596, 1884}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-close-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3596, 2196}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-close-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 3794}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-home-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 3326}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-home-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1892, 2848}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3596, 2040}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 3482}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-reset-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2488, 1666}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-reset-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3596, 2352}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-share-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2052, 1666}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-share-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {434, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 154}</string>
			<key>spriteSourceSize</key>
			<string>{440, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 3638}, {434, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3492, 1666}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{62, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3360, 1796}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {54, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4040, 1260}, {54, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {46, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 64}</string>
			<key>spriteSourceSize</key>
			<string>{66, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4040, 1396}, {46, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {22, 64}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{22, 64}</string>
			<key>spriteSourceSize</key>
			<string>{54, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4060, 92}, {22, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {46, 64}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{46, 64}</string>
			<key>spriteSourceSize</key>
			<string>{74, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4040, 1328}, {46, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {54, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{54, 64}</string>
			<key>spriteSourceSize</key>
			<string>{62, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4040, 1192}, {54, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{66, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3426, 1796}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 11}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{3, 4}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{160, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 2644}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 21}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{136, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 2908}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 13}, {128, 126}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{128, 126}</string>
			<key>spriteSourceSize</key>
			<string>{156, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3360, 1666}, {128, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explo2_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 11}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{6, 3}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{168, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 2774}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game-over-bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1500, 1318}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1500, 1318}</string>
			<key>spriteSourceSize</key>
			<string>{1500, 1318}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2052, 344}, {1500, 1318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1176, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1176, 150}</string>
			<key>spriteSourceSize</key>
			<string>{1176, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3172}, {1176, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-hp-max.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {448, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{448, 46}</string>
			<key>spriteSourceSize</key>
			<string>{448, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2052, 1822}, {448, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hud-score-top-hp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {442, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{442, 40}</string>
			<key>spriteSourceSize</key>
			<string>{448, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2504, 1822}, {442, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3992, 228}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1470, 3030}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4000, 1548}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1470, 3098}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4000, 1480}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 4014}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3992, 92}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1476, 2908}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4000, 1684}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 4014}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4000, 1616}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4000, 1752}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3992, 160}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_bg.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {2048, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l1_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 828}, {2048, 708}}</string>
			<key>spriteOffset</key>
			<string>{0, -414}</string>
			<key>spriteSize</key>
			<string>{2048, 708}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1544, 1884}, {2048, 708}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l2_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1196}, {2048, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -598}</string>
			<key>spriteSize</key>
			<string>{2048, 340}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2048, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>map_l3_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1288}, {2048, 248}}</string>
			<key>spriteOffset</key>
			<string>{0, -644}</string>
			<key>spriteSize</key>
			<string>{2048, 248}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1544, 2596}, {2048, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p1-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{110, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3992, 0}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 108}</string>
			<key>spriteSourceSize</key>
			<string>{110, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1356, 3030}, {110, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p2-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {332, 94}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{332, 94}</string>
			<key>spriteSourceSize</key>
			<string>{342, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 3982}, {332, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {342, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{342, 108}</string>
			<key>spriteSourceSize</key>
			<string>{342, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1180, 3172}, {342, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p3-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 9}, {402, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{402, 92}</string>
			<key>spriteSourceSize</key>
			<string>{442, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1892, 3004}, {402, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>p3-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {420, 108}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{420, 108}</string>
			<key>spriteSourceSize</key>
			<string>{442, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 3950}, {420, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sp-logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{356, 160}, {1350, 526}}</string>
			<key>spriteOffset</key>
			<string>{7, -23}</string>
			<key>spriteSize</key>
			<string>{1350, 526}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 800}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2644}, {1350, 526}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sp-page-about.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{151, 371}, {1542, 756}}</string>
			<key>spriteOffset</key>
			<string>{-102, 19}</string>
			<key>spriteSize</key>
			<string>{1542, 756}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1884}, {1542, 756}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 23}, {356, 358}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{356, 358}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3326}, {356, 358}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 29}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{4, 9}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 3482}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 39}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3596, 2508}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 39}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 3326}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 39}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2876, 0}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 39}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3686}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 139}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3224, 0}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 157}, {482, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{482, 286}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3556, 1192}, {482, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 139}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 3654}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 139}, {346, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{346, 324}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1544, 2848}, {346, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 131}, {406, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{406, 340}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2052, 0}, {406, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{93, 135}, {412, 332}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{412, 332}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2460, 0}, {412, 332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 139}, {418, 324}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{418, 324}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3572, 0}, {418, 324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 103}, {442, 396}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{442, 396}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3556, 1480}, {442, 396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 63}, {518, 474}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{518, 474}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3556, 344}, {518, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>space2-d9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 117}, {504, 368}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{504, 368}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3556, 820}, {504, 368}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>space2</string>
		<key>textureFileName</key>
		<string>space2_default-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>